{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<script>
console.log();
    var field_id = {{conditions|length}};
  function add_form_fields(val) {
    field_id++;
    var divtest = document.createElement("div");
	divtest.setAttribute("class", "form-group");

	var objTo = document.getElementById('all_conditions_div')
	  var rdiv = 'feature_';
      divtest.innerHTML =`<div id="condition_div_`+field_id+`">
                                                <label class="form-control-label" for="condition_`+field_id+`">Name of the
                                                    condition `+field_id+`</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="Condition `+field_id+`"
                                                           id="condition_`+field_id+`" name="condition_`+field_id+`" required>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-danger" type="button" onclick="remove_form_fields(`+ field_id +`);"><i
                                                                class="fa fa-trash float-right" aria-hidden="true">
                                                            Delete</i></button>
                                                    </div>
                                                </div>
                                            </div>`;
    objTo.appendChild(divtest)
}

function remove_form_fields(rid) {
    $('#condition_div_'+rid).remove();
   }

</script>
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Intervention Settings / Ineligibility</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header" id="all_conditions_div">
                                        {% for cond,v in conditions.items() %}
                                            <div id="condition_div_{{loop.index}}">
                                                <label class="form-control-label" for="{{cond}}">Name of the
                                                    condition {{loop.index}}</label>
                                                <div class="input-group mb-3">
                                                    <input value="{{v}}" type="text" class="form-control"
                                                           id="{{cond}}" name="{{cond}}" required>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-danger" type="button" onclick="remove_form_fields({{loop.index}});"><i
                                                                class="fa fa-trash float-right" aria-hidden="true">
                                                            Delete</i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        {%endfor%}
                                        </div>
                                        <a onclick="add_form_fields('parameters');"><p
                                                style="border: 1px dotted green; padding:5px;font-size: 20px;margin-top: 60px;text-align: center;color: green;cursor: pointer;">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add a new condition
                                        </p></a>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home" aria-selected="true">General
                                                Explaination</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile" aria-selected="false">HeartSteps
                                                Example</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <p class="mb-0">Raw denim you probably haven't heard of them jean shorts
                                                Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
                                                Mustache cliche tempor, williamsburg carles vegan helvetica.
                                                Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater
                                                eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
                                                cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
                                                voluptate nisi qui.
                                            </p>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <p class="mb-0">Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                                                single-origin coffee squid. Exercitation +1 labore velit, blog sartorial
                                                PBR leggings next level wes anderson artisan four loko farm-to-table
                                                craft beer twee. Qui photo booth letterpress, commodo enim craft beer
                                                mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud
                                                organic, assumenda labore aesthetic magna delectus mollit. Keytar
                                                helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.
                                                Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts
                                                beard ut DIY ethical culpa terry richardson biodiesel. Art party
                                                scenester stumptown, tumblr butcher vero sint qui sapiente accusamus
                                                tattooed echo park.</p>
                                        </div>

                                    </div>
                                </div>


                                <!-- [ tabs ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-group">
                                                <a href="/intervention/settings/decision_point/{{project_uuid}}" class="btn btn-outline-primary" role="button">Back</a>
                                                <button type="submit" type="button"
                                                        formaction="/intervention/settings/intervention_probability/{{project_uuid}}"
                                                        formmethod="post" class="btn btn-primary">Next
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
