{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<script>

</script>
<style>

</style>


<div class="container-fluid">

    <h1><i class="fa fa-list-alt" aria-hidden="true"></i> Intervention Settings / Ineligibility</h1>
    <hr>
    <div class="container col-sm-12">
        <div class="row">

                <div class="card col-sm-12">
                    <div class="card-body">
                        <form>
                            <div class="row">
                            <div class="col">
                                <a href=""><p style="border: 1px dotted red; padding:5px;">Condition 1 <i class="fa fa-trash float-right" aria-hidden="true"></i></p></a>
                                <div class="form-group">
                                    <label class="form-control-label" for="condition_1">Name of the condition 1</label>
                                    <input type="text" id="condition_1" class="form-control" placeholder="Option A">
                                </div>
                                <a href=""> <p style="border: 1px dotted green; padding:5px;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add a new condition</p></a>
                            </div>

                                <div class="row">
                                    <hr class="hr_style">
                                    <footer class="">
                                        <div class="nav-wrapper">
                                            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">General Explanation</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">HeartSteps Example</a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="card shadow">
                                            <div class="card-body">
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                                        <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>

                                                    </div>
                                                    <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                                        <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                    <div class="form-group float-right">
                                        <button type="button" class="btn btn-primary">Back</button>
                                        <button type="button" class="btn btn-primary">Next</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>




        </div>
    </div>

</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
