{% extends "layouts/base.html" %}

{% block title %} Intervention - Option {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Intervention Settings / Intervention Options</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-group">
                                                <label class="form-control-label" for="intervention_option_a">Intervention
                                                    Option A</label>
                                                <input value="{{settings.get('intervention_option_a','')}}" type="text"
                                                       id="intervention_option_a" name="intervention_option_a"
                                                       class="form-control" placeholder="Option A" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label" for="intervention_option_b">Intervention
                                                    Option B</label>
                                                <input value="{{settings.get('intervention_option_b','')}}" type="text"
                                                       id="intervention_option_b" name="intervention_option_b"
                                                       class="form-control" placeholder="Option B" required>
                                            </div>
                                            <p style="color:#f65959;">Option A and Option B cannot be interchanged.
                                                Please read the explanation to make sure that you define them
                                                correctly.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home" aria-selected="true">
                                                Explanation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile" aria-selected="false">HeartSteps
                                                Example</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <p>In the current method (Thompson sampling -- two options), there are two
                                                intervention options. Intervention options usually correspond to
                                                different buckets of messages or no message.</p>

                                            <p>Here's how we distinguish Intervention Option A from Intervention Option
                                                B:</p>
                                            <ol>
                                                <li>The “main treatment effect” is defined as the change in the proximal
                                                    outcome when Intervention option A is provided versus Intervention
                                                    option B. In the Bayesian linear regression (see Eq.(3.1) in the
                                                    tutorial), “Intervention=1” if Intervention option A is provided,
                                                    and “Intervention=0” if Intervention option B is provided.
                                                </li>
                                                <li>In some predefined states (which you’ll define two pages from now),
                                                    one may not wish to provide Intervention Option A. In those states,
                                                    Intervention Option B will be provided. In other words, Intervention
                                                    Option B is often less burdensome. In fact, it is often the “do
                                                    nothing” option.
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <p>
                                                In HeartSteps, the goal of the JITAI is to encourage a person to walk
                                                more by sending activity suggestions. The options are to send an
                                                activity suggestion or not to send a suggestion. The treatment effect is
                                                the change in (log) next 30-minute step count when a suggestion is sent
                                                versus not sent.
                                            </p>
                                        </div>

                                    </div>
                                </div>


                                <!-- [ tabs ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-group">
                                                <a href="/projects/settings/summary/{{project_uuid}}"
                                                   class="btn btn-outline-primary" role="button">Back</a>
                                                <!--                                                <button type="submit" type="button" formaction="/projects/settings/summary/{{project_uuid}}" formmethod="post" class="btn btn-outline-primary">Back</button>-->
                                                <button type="submit" type="button"
                                                        formaction="/intervention/settings/decision_point/{{project_uuid}}"
                                                        formmethod="post" class="btn btn-primary">Next
                                                </button>
                                            </div>
                                            <div class="form-group">
                                                Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
