{% extends "layouts/base.html" %}

{% block title %} Intervention - Probability {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<script>


$(document).ready(function(){
    function calculate_on_load(){
        dp_freq = $('#dp_freq').text()
        result1 = ($('#interven_lower').text() * dp_freq).toFixed(1)
        result2 = ($('#interven_upper').text() * dp_freq).toFixed(1)
        $('#result_1').html(result1);
        $('#result_2').html(result2);
    }
    calculate_on_load();


    $("input[name=intervention_probability_lower_bound]").on('keyup', function () {
        $('#interven_lower').html($(this).val());
        dp_freq = $('#dp_freq').text()
        result1 = ($('#interven_lower').text() * dp_freq).toFixed(1)
        $('#result_1').html(result1);
    });

    $("input[name=intervention_probability_upper_bound]").on('keyup', function () {
        $('#interven_upper').html($(this).val());
        dp_freq = $('#dp_freq').text()
        result2 = ($('#interven_upper').text() * dp_freq).toFixed(1)
        $('#result_2').html(result2);
    });
});


</script>
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Intervention Settings / Intervention Probability</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="intervention_probability_lower_bound">Intervention
                                                        probability lower bound (when eligible)</label>
                                                    <div class="input-group mb-3">
                                                        <input min="0" max="1" step="0.01"
                                                               value="{{settings.intervention_probability_lower_bound}}"
                                                               type="number" id="intervention_probability_lower_bound"
                                                               name="intervention_probability_lower_bound"
                                                               class="form-control" required>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text"
                                                                  style="border: dotted;"> <span id="interven_lower"> {{settings.intervention_probability_lower_bound}} </span> &nbsp; x &nbsp;  <span
                                                                    id="dp_freq"> {{settings.decision_point_frequency}}</span>  &nbsp;&nbsp;<span
                                                                    style="background-color: #a8a2a2;border-radius: 5px;padding: 2px;"> decision points / {{settings.decision_point_frequency_time}} </span>&nbsp;&nbsp; = &nbsp;&nbsp; <span
                                                                    id="result_1"></span> &nbsp;&nbsp; <span
                                                                    style="background-color: #a8a2a2;border-radius: 5px;padding: 2px;">{{settings.intervention_option_a}} / {{settings.decision_point_frequency_time}}</span></span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="intervention_probability_upper_bound">Intervention
                                                        probability upper bound (when eligible)</label>
                                                    <div class="input-group mb-3">
                                                        <input min="0" max="1" step="0.01"
                                                               value="{{settings.intervention_probability_upper_bound}}"
                                                               type="number" id="intervention_probability_upper_bound"
                                                               name="intervention_probability_upper_bound"
                                                               class="form-control" required>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" style="border: dotted;"><span
                                                                    id="interven_upper"> {{settings.intervention_probability_upper_bound}} </span> &nbsp; x &nbsp; {{settings.decision_point_frequency}} &nbsp;&nbsp;<span
                                                                    style="background-color: #a8a2a2;border-radius: 5px;padding: 2px;"> decision points / {{settings.decision_point_frequency_time}} </span>&nbsp;&nbsp; = &nbsp;&nbsp; <span
                                                                    id="result_2"></span> &nbsp;&nbsp; <span
                                                                    style="background-color: #a8a2a2;border-radius: 5px;padding: 2px;">{{settings.intervention_option_a}} / {{settings.decision_point_frequency_time}}</span></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home" aria-selected="true">
                                                Explanation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile" aria-selected="false">HeartSteps
                                                Example</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <p>
                                            <p>As data accrues, the probability of sending Intervention Option A (when
                                                Intervention Option A is eligible) will change but will never go below
                                                the lower bound or above the upper bound.</p>

                                            <p>To ensure a continual update of personalization, you cannot choose the
                                                intervention probability lower/upper bound during personalization to be
                                                0 or 1. If you are concerned about burden or habituation, we suggest
                                                that you choose a smaller upper bound.</p>
                                            </p>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <p>Here, we choose the intervention probability during the personalization
                                                period to be between 0.1 and 0.8. Notice that with 5 decision
                                                points/day, an intervention probability of 0.8 corresponds to an average
                                                of 5 x 0.8 = 4 activity suggestion messages (Intervention Option A) per day. 
                                                Similarly, an intervention probability of 0.1 corresponds to an average
                                                of 5 x 0.1 = 0.5 activity suggestion messages (Intervention Option A) per day.
                                                In other words, on average, the intervention sends no more than 4 activity suggestions 
                                                per day and no fewer than 0.5 activity suggestions per day.
                                                <!-- If you want to avoid sending four activity suggestions a day, you can consider 
                                                1) lowering the upper bound or 2) adding “receiving more than three
                                                activity suggestions in the same day” as an ineligibility criterion.  -->
                                            </p>
                                        </div>

                                    </div>
                                </div>


                                <!-- [ tabs ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-group">
                                                <a href="/intervention/settings/ineligibility/{{project_uuid}}"
                                                   class="btn btn-outline-primary" role="button">Back</a>
                                                <!--                                                <button type="submit" type="button" formaction="/intervention/settings/ineligibility/{{project_uuid}}" formmethod="post" class="btn btn-outline-primary">Back</button>-->
                                                <button type="submit" type="button"
                                                        formaction="/intervention/settings/update_point/{{project_uuid}}"
                                                        formmethod="post" class="btn btn-primary">Next
                                                </button>
                                            </div>
                                            <div class="form-group">
                                                Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} UTC
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
