{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<script>

</script>
<style>

</style>


<div class="container-fluid">

    <h1><i class="fa fa-list-alt" aria-hidden="true"></i> Intervention Settings / Summary</h1>
    <hr class="hr_style">
    <div class="container col-sm-12">
        <div class="row">
            <p style="
                                    background-color: #fff;
                                    color: black;
                                    padding: 10px;
                                    border: 1px dotted;
                                    border-radius: 10px;
                                ">
                Congrats! You have completed the intervention settings.
                Please review and confirm.
                After you confirm, please click “Go to Model Setting.”
            </p>
                <div class="card col-sm-12">
                    <div class="card-body">
                        <form>
                            <div class="row">
                            <div class="col">
                                <h3>Intervention Settings</h3>
                                <div class="form-group">
                                    <label class="form-control-label" for="intervention_option_a">Intervention Option A</label>
                                    <input disabled type="text" id="intervention_option_a" class="form-control" placeholder="Option A">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="intervention_option_b">Intervention Option B</label>
                                    <input disabled type="text" id="intervention_option_b" class="form-control" placeholder="Option B">
                                </div>
<hr class="hr_style">
                                <h3>Decision Point</h3>
                                <div class="form-group">
                                    <select disabled id="decision_point_opt_1" class="form-select" aria-label="Default select example">
                                        <option selected>5</option>
                                    </select> times per
                                    <select disabled id="decision_point_opt_2" class="form-select" aria-label="Default select example">
                                        <option selected>Day</option>
                                    </select>
                                </div>
                                <hr class="hr_style">
                                <h3>Conditions</h3>
                                <div class="form-group">
                                    <label class="form-control-label" for="condition_1">Name of the condition 1</label>
                                    <input disabled type="text" id="condition_1" class="form-control" placeholder="Option A">
                                </div>
                                <hr class="hr_style">
                                <h3>Intervention Probability</h3>
                                <div class="form-group">
                                    <label  class="form-control-label" for="intervention_probability_lower_bound">Intervention probability lower bound (when eligible)</label>
                                    <input disabled type="text" id="intervention_probability_lower_bound" class="form-control" placeholder="Option A">
                                </div>

                                <div class="form-group">
                                    <label  class="form-control-label" for="intervention_probability_upper_bound">Intervention probability upper bound (when eligible)</label>
                                    <input disabled type="text" id="intervention_probability_upper_bound" class="form-control" placeholder="Option A">
                                </div>

                                <hr class="hr_style">
                                <h3>Update Point</h3>
                                <div class="form-group">
                                    <label class="form-control-label" for="update_day">When should the pJITAI update?</label>
                                    <select disabled id="update_day" class="form-select" aria-label="Default select example">
                                        <option selected>Daily</option>
                                    </select> At
                                    <select disabled id="update_time" class="form-select" aria-label="Default select example">
                                        <option selected>12:00</option>
                                    </select>
                                </div>

                            </div>

                                <div class="row">
                                    <hr class="hr_style">
                                    <footer class="">
                                        <div class="nav-wrapper">
                                            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">General Explanation</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">HeartSteps Example</a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="card shadow">
                                            <div class="card-body">
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                                        <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>

                                                    </div>
                                                    <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                                        <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                    <div class="form-group float-right">
                                        <button type="button" class="btn btn-primary">Back</button>
                                        <button type="button" class="btn btn-primary">Go to Model Settings</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>




        </div>
    </div>

</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
