<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-anchor"></i>
                </div>
                <span class="b-title">pJITAI</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">

            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Project Name</label>
                </li>


                <li class="nav-item pcoded-hasmenu {% if 'general' in segment %} active pcoded-trigger {% endif %}">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-clipboard"></i></span><span class="pcoded-mtext">General Settings</span></a>
                    <ul class="pcoded-submenu" {% if 'general' not in segment %} style="display: none;" {% endif %}>
                        <li class="{% if 'general_settings' in segment %} active {% endif %}"><a href="/projects/settings/general/123" class="">General Info</a></li>
                        <li class="{% if 'personalized_method' in segment %} active {% endif %}"><a href="/projects/settings/personalized_method/123" class="">Personalization Method</a></li>
                        <li class="{% if 'scenario' in segment %} active {% endif %}"><a href="/projects/settings/scenario/123" class="">Scenario</a></li>
                        <li class="{% if 'general_summary' in segment %} active {% endif %}"><a href="/projects/settings/summary/123" class="">Summary</a></li>
                    </ul>
                </li>

                <li class="nav-item pcoded-hasmenu {% if 'intervention' in segment %} active pcoded-trigger {% endif %}">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pause"></i></span><span class="pcoded-mtext">Intervention Settings</span></a>

                    <ul class="pcoded-submenu" {% if 'intervention' not in segment %} style="display: none;" {% endif %}>
                        <li class="{% if 'intervention_option' in segment %} active {% endif %}"><a href="/intervention/settings/intervention_option/123" class="">Intervention Options</a></li>
                        <li class="{% if 'intervention_decision_point' in segment %} active {% endif %}"><a href="/intervention/settings/decision_point/123" class="">Decision Point</a></li>
                        <li class="{% if 'intervention_ineligibility' in segment %} active {% endif %}"><a href="/intervention/settings/ineligibility/123" class="">Ineligibility</a></li>
                        <li class="{% if 'intervention_probability' in segment %} active {% endif %}"><a href="/intervention/settings/intervention_probability/123" class="">Intervention Probability</a></li>
                        <li class="{% if 'intervention_update_point' in segment %} active {% endif %}"><a href="/intervention/settings/update_point/123" class="">Update Point</a></li>
                        <li class="{% if 'intervention_summary' in segment %} active {% endif %}"><a href="/intervention/settings/summary/123" class="">Summary</a></li>
                    </ul>
                </li>

                <li class="nav-item pcoded-hasmenu {% if 'model' in segment or 'covariates' in segment %} active pcoded-trigger {% endif %}">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sliders"></i></span><span class="pcoded-mtext">Model Settings</span></a>
                    <ul class="pcoded-submenu" {% if 'model' not in segment  and not 'covariates' %} style="display: none;" {% endif %}>
                        <li class="{% if 'model_proximal_outcome_attribute' in segment %} active {% endif %}"><a href="/model/settings/proximal_outcome_attribute/123" class="">Proximal Outcome Attributes</a></li>
                        <li class="{% if 'model_intercept' in segment %} active {% endif %}"><a href="/model/settings/intercept/123" class="">Intercept</a></li>
                        <li class="{% if 'model_main_treatment_effect' in segment %} active {% endif %}"><a href="/model/settings/main_treatment_effect/123" class="">Main Treatment Effect</a></li>
                        <li class="{% if 'covariates' in segment %} active {% endif %}"><a href="/covariates/settings/all/123" class="">Covariates</a></li>
                        <li class="{% if 'model_summary' in segment %} active {% endif %}"><a href="/model/settings/summary/123" class="">Summary</a></li>
                    </ul>
                </li>

            <li class="nav-item pcoded-hasmenu {% if 'configuration' in segment %} active pcoded-trigger {% endif %}">
                <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="fas fa-cogs"></i></span><span class="pcoded-mtext">Configuration Summary</span></a>
                <ul class="pcoded-submenu" {% if 'configuration' not in segment %} style="display: none;" {% endif %}>
            <li class="{% if 'configuration_summary' in segment %} active {% endif %}"><a href="/configuration/summary/{{project_uuid}}" class="">Summary</a></li>
            <li class="{% if 'configuration_final' in segment %} active {% endif %}"><a href="/configuration/final/{{project_uuid}}" class="">Finalize</a></li>

            </ul>
            </li>

            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
