{% extends "layouts/base.html" %}

{% block title %} About Us {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
.card-content {
    padding-left: 10%;
}
.card {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10%;
}
{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>About us</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                Our Goal
                                            </div>
                                            <div class="card-content">
                                                <p>
                                                    The pJTIAI toolbox is developed as a part of the mDOT TR&D2 projects
                                                    where the goal is to design RL algorithms to personalize interventions better
                                                    and reduce intervention burden effects that can lead to disengagement.
                                                    More information about the mDOT center: More information about the
                                                    TR&D2 projects:
                                                    pJITAI Tutorial: (TBD) Citation
                                                </p>
                                            </div>
                                        </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
