{% extends "layouts/base.html" %}

{% block title %} Contact Us {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .card-content {
        padding-left: 2%;
        padding-bottom: 2%;
        padding-top: 2%;
        background: white;
        margin-right: 10%;
    }
    .emphasize {
        color:darkslateblue;
    }
</style>
{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Contact our team</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Email us</h5>
                                        </div>
                                        <div class="card-content">
                                            Please email Hsin-Yu Lai using <strong class="emphasize">hsinyul@g.harvard.edu</strong>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Visit us</h5>
                                        </div>
                                        <div class="card-content">
                                            Visit our office at Byerly Hall, 8 Garden Street, Cambridge
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
