{% extends "layouts/base.html" %}

{% block title %} FAQs {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .card-content {
        padding-left: 2%;
        padding-bottom: 2%;
        padding-top: 2%;
        background: white;
        margin-right: 10%;
    }
</style>
{% endblock stylesheets %}
{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>FAQs</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>How is a pJITAI different from a JITAI?</h5>
                                        </div>
                                        <div class="card-content">
                                            An implicit rationale underlying a
                                            JITAI is that the decision rules, once constructed, are fixed and need not
                                            be altered. That is, the way in which the tailoring variables are used by
                                            the decision rule need not be altered to ensure the optimal effectiveness
                                            of the intervention component for new users. 
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    export default {
        name: "extend",
        data() {
            return {
                isExpand: true,
            };
        },
        methods: {
            expand() {
                this.isExpand = !this.isExpand;
            },
        },
    };
</script>
{% endblock javascripts %}
