{% extends "layouts/base.html" %}

{% block title %} FAQs {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
<style>
    #content {
        display: none;
    }
    label {
        cursor: pointer;
    }
    #toggle {
        display: none;
    }
    #toggle:checked ~ #content {
        display: block;
    }
</style>
{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>FAQs</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            How is a pJITAI different from a JITAI?
                                        </div>
                                        <div>
                                            <p id="card-content">
                                                An implicit rationale underlying a
                                                JITAI is that the decision rules, once constructed, are fixed and need not
                                                be altered. That is, the way in which the tailoring variables are used by
                                                the decision rule need not be altered to ensure the optimal effectiveness
                                                of the intervention component for new users. 
                                            </p>
                                            <label for="toggle">expand/fold</label>
                                            <input type="checkbox" id="toggle">
                                        </div>
                                        <div class="bottom-exp" @click="expand">
                                            <div v-if="isExpand">fold</div>
                                            <div v-else>expand</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
