{% extends "layouts/base.html" %}

{% block title %} Projects {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">

                                            <h3>Intervention Components <span data-toggle='tooltip'
                                                                              data-bs-placement="right"
                                                                              title='If you want to edit, duplicate, or delete an intervention component, you can click the three dots on the top right of the intervention component. You can find your finalized design by clicking "Finalized" in the left menu.'> <i
                                                    class=" align-text-top questionmark far fa-question-circle"></i></span>
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                {% if data|length ==0%}
                                <div class="alert alert-primary" role="alert">
                                {{empty_msg}}
                                </div>

                                {% endif %}
                                <!-- START OF PROJECT DIV -->
                                {% for proj in data %}
                                <div class="col-lg-3 mb-3">
                                    <div class="card" style="width: 18rem; border-radius:25px;">

                                        <div class="card-body">

                                            <h3 class="card-title"> {{proj.get("study_name")}}
                                                {% if proj.get("project_status")==0 %}
                                                <ul class="navbar-nav ml-lg-auto float-right">

                                                    <li class="nav-item dropdown">
                                                        <a class="nav-link nav-link-icon" href="#"
                                                           id="navbar-default_dropdown_1" role="button"
                                                           data-toggle="dropdown" aria-haspopup="true"
                                                           aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>

                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right"
                                                             aria-labelledby="navbar-default_dropdown_1">
                                                            <a class="dropdown-item"
                                                               href="/projects/settings/general/{{proj.project_uuid}}"><i
                                                                    class="fas fa-edit"></i> Read/Edit the project</a>
                                                            <a class="dropdown-item"
                                                               href="/projects/duplicate/{{proj.project_uuid}}"
                                                               onclick="return confirm('Are you sure you want to duplicate the project - {{proj.get("
                                                               study_name")}}?');"><i class="fa fa-clone"
                                                                                      aria-hidden="true"></i> Duplicate
                                                            the project</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" style="color:#f65959"
                                                               href="/projects/delete/{{proj.project_uuid}}"
                                                               onclick="return confirm('Are you sure you want to delete the project - {{proj.get("
                                                               study_name")}}?');"><i class="fa fa-trash"
                                                                                      aria-hidden="true"></i> Delete the
                                                            project</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                                {% endif %}
                                            </h3>

                                            <p class="card-text">Intervention:
                                                {{proj.get("intervention_component_name")}}</p>
                                            <!--a href="#" class="small">{{proj.get("study_description")[:70]}}</a-->
                                            <a class="small">{{proj.get("study_description")[:70]}}</a>
                                            {% if proj.get("project_status")==1 %}
                                            <p><a target="_blank" href="/api/projects/{{proj.get('project_uuid')}}" class="btn btn-info"><i class="fas fa-code-branch"></i> Get
                                                your API</a></p>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- END OF PROJECT DIV -->

                            </div>


                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home" aria-selected="true">Explanation</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <p> Intervention components are the means of your intervention. 
                                                In this current version of pJITAI, we ask you to design one intervention
                                                component at a time. If you want to incorporate personalization in
                                                multiple intervention components in your study, you design a
                                                personalizing JITAI for each component.
                                            </p>
                                            <p> For example, in the HeartSteps study, the intervention components are:
                                                1) activity suggestion and 2) planning for the next day’s activities.
                                                In the HeartSteps demo, we demonstrate designing the “activity suggestion” 
                                                intervention component.
                                            </p>
                                            <p> We suggest that if you are not familiar with our toolbox, you start by going through our 
                                                HeartSteps demo (which can be created by clicking "Add New Project" and "Add 
                                                HeartSteps Demo" in the left menu).
                                                If you cannot see a left menu with an option to "Add New Project," you may see a menu-like 
                                                icon on the top right corner of your screen. Click it to open the left menu. 
                                                When you’re ready to use this tool to develop personalizing JITAIs for your study, click 
                                                "Add New Project" and "Add a new intervention component."
                                            </p>
                                            <!--p>
                                                Need more guidance on this page? <a href=""> Click here</a>.
                                            </p-->
                                        </div>


                                    </div>
                                </div>


                                <!-- [ tabs ] end -->
                            </div>
                            <!-- [ Main Content ] end -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
