{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<script>

</script>
<style>

</style>


<div class="container-fluid">

    <h1> <i class="fa fa-list-alt" aria-hidden="true"></i> General Settings / General Info <i class="ni ni-question" aria-hidden="true"></i></h1>
    <hr>
    <div class="container  col-sm-12">
        <div class="row">
            <div class="col-lg-12">
                <p style="
                                    background-color: #fff;
                                    color: black;
                                    padding: 10px;
                                    border: 1px dotted;
                                    border-radius: 10px;
                                ">
                    Congrats! You have finished setting up the general settings.
                    Please review and confirm.
                    After you confirm, please click “Start my Design.” Once you start designing your personalizing JITAI, you <span style="color:red;">cannot</span> return and edit your “personalization method” or “scenario”. If you need to change these settings later, you will need to create another intervention component design.
                </p>
                <div class="card col-sm-12">
                    <div class="card-body">
                        <form>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="study_name">Name of the study</label>
                                    <input disabled type="text" name="study_name" id="study_name" value="{{general_settings.get('study_name','')}}" required class="form-control" placeholder="Name of the study">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="study_description">Description of the study (optional)</label>
                                    <textarea disabled name="study_description" id="study_description" required rows="4" class="form-control" placeholder="Description of the study ...">{{general_settings.get('study_description','')}}</textarea>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="intervention_component_name">Name of the intervention component</label>
                                    <input disabled type="text" name="intervention_component_name" id="intervention_component_name" value="{{general_settings.get('intervention_component_name','')}}" required class="form-control" placeholder="Name of the intervention component">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="proximal_outcome_name">Name of the proximal outcome</label>
                                    <input disabled type="text" name="proximal_outcome_name" id="proximal_outcome_name" value="{{general_settings.get('proximal_outcome_name','')}}" required class="form-control" placeholder="Name of the proximal outcome">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="personalization_method">Personalization Method</label>

                                    <select id="personalization_method" class="form-select" aria-label="Default select example" disabled>
                                        <option selected>{{general_settings.get('personalization_method','Error')}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="personalized_scenario">How will you configure your personalized JITAI</label>
                                    <select id="personalized_scenario" class="form-select" aria-label="Default select example" disabled>
                                        <option selected>{{general_settings.get('personalized_scenario','Error')}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group float-right">
                                <button type="submit" type="button" formaction="/projects/settings/scenario/{{project_uuid}}" formmethod="post" class="btn btn-primary">Back</button>
                                <button type="submit" type="button" formaction="/projects/settings/scenario/{{project_uuid}}" formmethod="post" class="btn btn-primary">Start My Design</button>
                            </div>
                        </form>
                    </div>
                </div>




            </div>

        </div>
    </div>

</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
