{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>General Settings / Summary</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="col-lg-12">
                                                <p style="
                                    background-color: #fff;
                                    color: black;
                                    padding: 10px;
                                    border: 1px dotted;
                                    border-radius: 10px;
                                ">
                                                    Congrats! You have finished setting up the general settings.
                                                    Please review and confirm.
                                                    After you confirm, please click “Start my Design.” Once you start designing your personalizing JITAI, you <span style="color:red;">cannot</span> return and edit your “personalization method” or “scenario”. If you need to change these settings later, you will need to create another intervention component design.
                                                </p>
                                                <h5>General Information</h5>
                                                <hr>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="study_name">Name of the study</label>
                                                    <input disabled type="text" name="study_name" id="study_name" value="{{general_settings.get('study_name','')}}" required class="form-control" placeholder="Name of the study">
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-control-label" for="study_description">Description of the study (optional)</label>
                                                    <textarea disabled name="study_description" id="study_description" required rows="4" class="form-control" placeholder="Description of the study ...">{{general_settings.get('study_description','')}}</textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-control-label" for="intervention_component_name">Name of the intervention component</label>
                                                    <input disabled type="text" name="intervention_component_name" id="intervention_component_name" value="{{general_settings.get('intervention_component_name','')}}" required class="form-control" placeholder="Name of the intervention component">
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-control-label" for="proximal_outcome_name">Name of the proximal outcome</label>
                                                    <input disabled type="text" name="proximal_outcome_name" id="proximal_outcome_name" value="{{general_settings.get('proximal_outcome_name','')}}" required class="form-control" placeholder="Name of the proximal outcome">
                                                </div>
                                                <h5>Personalization Method</h5>
                                                <hr>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="personalization_method">Personalization Method</label>

                                                    <select id="personalization_method" class="form-control" disabled>
                                                        <option selected>{{general_settings.get('personalization_method','Error')}}</option>
                                                    </select>
                                                </div>
                                                <h5>Scenario</h5>
                                                <hr>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="personalized_scenario">How will you configure your personalized JITAI</label>
                                                    <select id="personalized_scenario" class="form-control" disabled>
                                                        <option selected>{{general_settings.get('personalized_scenario','Error')}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home" aria-selected="true">General
                                                Explaination</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile" aria-selected="false">HeartSteps
                                                Example</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <p class="mb-0">Raw denim you probably haven't heard of them jean shorts
                                                Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
                                                Mustache cliche tempor, williamsburg carles vegan helvetica.
                                                Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater
                                                eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
                                                cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
                                                voluptate nisi qui.
                                            </p>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <p class="mb-0">Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                                                single-origin coffee squid. Exercitation +1 labore velit, blog sartorial
                                                PBR leggings next level wes anderson artisan four loko farm-to-table
                                                craft beer twee. Qui photo booth letterpress, commodo enim craft beer
                                                mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud
                                                organic, assumenda labore aesthetic magna delectus mollit. Keytar
                                                helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.
                                                Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts
                                                beard ut DIY ethical culpa terry richardson biodiesel. Art party
                                                scenester stumptown, tumblr butcher vero sint qui sapiente accusamus
                                                tattooed echo park.</p>
                                        </div>

                                    </div>
                                </div>


                                <!-- [ tabs ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-group">
                                                <a href="/projects/settings/scenario/{{project_uuid}}" class="btn btn-outline-primary" role="button">Back</a>
                                                <a href="/intervention/settings/intervention_option/{{project_uuid}}" class="btn btn-primary" role="button">Next</a>
<!--                                                <button type="submit" type="button" formaction="/projects/settings/scenario/{{project_uuid}}" formmethod="post" class="btn btn-outline-primary">Back</button>-->
<!--                                                <button type="submit" type="button" formaction="/intervention/settings/intervention_option/{{project_uuid}}" formmethod="post" class="btn btn-primary">Start My Design</button>-->
                                            </div>
                                            <div class="form-group">
                                                Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} CST
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
