{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
.img_social_logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}
.bordert:after {
        left: 25%
    }
.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0px 8px
}

</style>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">

                    <div class="text-muted text-center mt-2 mb-3">
                        LOGIN
                        <br/>
                        {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                        <span>
                  
                </span>
                        {% endif %}
                    </div>

                </div>
                <div class="card-body px-lg-5 py-lg-5">

                    <form role="form" method="post" action="">

                        {{ form.hidden_tag() }}

                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                </div>
                                {{ form.username(placeholder="Username",class="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                {{ form.password(placeholder="Password",class="form-control",type="password") }}
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" name="login" class="btn btn-primary my-4">Sign in</button>
                        </div>
                    </form>

                    <!--<div class="mx-3 my-2 py-2 bordert">
                      <div class="text-center py-3">
                        <a href="https://wwww.facebook.com" target="_blank" class="px-2">
                          <img class="img_social_logo" src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt="">
                        </a>
                        <a href="https://www.google.com" target="_blank" class="px-2">
                          <img class="img_social_logo" src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt="">
                        </a>
                        <a href="https://www.github.com" target="_blank" class="px-2">
                          <img class="img_social_logo" src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt="">
                        </a>
                      </div>
                    </div>-->
                </div>


            </div>
            <div class="row mt-3 text-center">
                <div class="col-12">
                    <a href="{{ url_for('authentication_blueprint.register') }}" class="text-light"><small>Create new
                        account</small></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
