{% extends "layouts/base.html" %}

{% block title %} Model - Intercept {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Model Settings / Intercept</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="intercept_prior_mean">Prior
                                                            mean of the intercept <span data-toggle='tooltip'
                                                                                        data-bs-placement="right"
                                                                                        title='Prior is a probability distribution that encodes a scientist’s belief about an unknown quantity. Prior mean is the mean of the prior distribution. The algorithm will use both the scientist’s belief and the evidence from the data to make a decision.'> <i
                                                                    class=" align-text-top questionmark far fa-question-circle"></i></span></label>
                                                        <input type="number" step="0.01"
                                                               value="{{settings.intercept_prior_mean}}"
                                                               id="intercept_prior_mean" name="intercept_prior_mean"
                                                               class="form-control" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                               for="intercept_prior_standard_deviation">Prior standard
                                                            deviation of the intercept <span data-toggle='tooltip'
                                                                                             data-bs-placement="right"
                                                                                             title='???????????????????'> <i
                                                                    class=" align-text-top questionmark far fa-question-circle"></i></span></label>
                                                        <input type="number" step="0.01" min="0"
                                                               value="{{settings.intercept_prior_standard_deviation}}"
                                                               id="intercept_prior_standard_deviation"
                                                               name="intercept_prior_standard_deviation"
                                                               class="form-control" required>
                                                    </div>

                                                </div>

                                                <div class="col">
                                                    <p class="rightsidebluetextbox">

                                                        (log) <span style="background:#888; font-size:14px;">{{settings.proximal_outcome_name}}</span>
                                                        ~ <br>
                                                        α<sub>0</sub>+ <br>
                                                        + β<sub>0</sub>* <span style="background:#888; font-size:14px;"> {{settings.intervention_component_name}} </span><br>
                                                        + ϵ <br>
                                                        α<sub>0</sub>~N(<span style="color:#f65959;">μ<sub>α<sub>0</sub></sub>, σ<sub>α<sub>0</sub></sub></span><sup>2</sup>)
                                                        <br>
                                                        <span style="color:#f65959;"> We're asking for the red values.</span>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home" aria-selected="true">
                                                Explanation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile" aria-selected="false">HeartSteps
                                                Example</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <p>The intercept refers to the intercept term in the linear regression model
                                                of the proximal outcome. The intercept corresponds to the value of the
                                                proximal outcome when all the covariates are zero.</p>

                                            <p>Many papers may not provide the prior mean and the prior standard
                                                deviation of the intercept.</p>

                                            <p>If you don’t have good information about the prior mean and prior
                                                standard deviation, then we suggest you set the prior mean to be 0 and
                                                the prior standard deviation to be 10. Please read [tutorial] for more
                                                details.</p>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <p>The prior of the intercept cannot be found from the HeartSteps V1 paper.
                                                Thus, we demonstrate using the default values here, i.e., prior mean = 0
                                                and prior standard deviation = 10.</p>
                                        </div>

                                    </div>
                                </div>


                                <!-- [ tabs ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-group">
                                                <!--                                                <button type="submit" type="button"-->
                                                <!--                                                        formaction="/model/settings/proximal_outcome_attribute/{{project_uuid}}"-->
                                                <!--                                                        formmethod="post" class="btn btn-outline-primary">Back-->
                                                <!--                                                </button>-->
                                                <a href="/model/settings/proximal_outcome_attribute/{{project_uuid}}"
                                                   class="btn btn-outline-primary" role="button">Back</a>
                                                <button type="submit" type="button"
                                                        formaction="/model/settings/main_treatment_effect/{{project_uuid}}"
                                                        formmethod="post" class="btn btn-primary">Next
                                                </button>
                                            </div>
                                            <div class="form-group">
                                                Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} CST
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
