{% extends "layouts/base.html" %}

{% block title %} Model - Summary {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Model Settings / Summary</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row congratstextbox" style="margin-bottom: 30px;">
                                        <div class="col-1">
                                            <img src="{{ config.ASSETS_ROOT }}/images/pjitai/celebration.png"
                                                 class="img-responsive">
                                        </div>
                                        <div class="col-11">

                                            <p>
                                                Congrats! You have finished setting up Model Settings.<br>
                                                Please review and confirm.<br>
                                                If you confirm, please click “Go to Configuration Summary.”
                                            </p>
                                        </div>

                                    </div>


                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Covariates</h5>
                                            <hr>
                                            {% if all_covariates|length==0%}
                                            <div class="alert alert-primary" role="alert">
                                                There is no covariate.
                                            </div>

                                            {%endif%}
                                            <!--START OF THE COLLAPSABLE MENU-->
                                            <div class="row">
                                                <div class="col-6">
                                                    <b>Name of the covariate</b>
                                                </div>
                                                <div class="col-3">
                                                    <b>Is this covariate a tailoring variable?</b>
                                                </div>
                                                <div class="col-3">

                                                </div>

                                            </div>
                                            <hr>
                                            {% for acov in all_covariates%}


                                            <div class="card">
                                                <div class="card-header" id="headingOne">

                                                    <div class="row">
                                                        <div class="col-6">

                                                            <a href="#!" data-toggle="collapse"
                                                               data-target="#collapseOne" aria-expanded="true"
                                                               aria-controls="collapseOne">
                                                                {{all_covariates.get(acov).get("covariate_name")}}
                                                            </a>

                                                        </div>
                                                        <div class="col-3">
                                                            {{all_covariates.get(acov).get("tailoring_variable")}}
                                                        </div>

                                                        <div class="col-3">
                                                            <a href="#!" class="btn-info btn-sm" data-toggle="collapse"
                                                               data-target="#collapse_{{acov}}" aria-expanded="true"
                                                               aria-controls="collapse_{{acov}}">
                                                                <i class="fas fa-book-open"></i> View
                                                            </a>

                                                        </div>
                                                    </div>


                                                </div>
                                                <div id="collapse_{{acov}}" class=" card-body collapse"
                                                     aria-labelledby="headingOne" data-parent="#accordionExample">
                                                    <table class="table table-hover">
                                                        <tbody>
                                                        <tr>
                                                            <td>The minimum value of the covariate</td>
                                                            <td>{{all_covariates.get(acov).get("covariate_min_val")}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>The maximum value of the covariate</td>
                                                            <td>{{all_covariates.get(acov).get("covariate_max_val")}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Type of the covariate</td>
                                                            <td>{{all_covariates.get(acov).get("covariate_type")}}</td>
                                                        </tr>
                                                        {% if all_covariates.get(acov).get("covariate_type")=="Binary"
                                                        %}
                                                        <tr>
                                                            <td>Meaning of “Covariate=0”</td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("covariate_meaning_0")}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Meaning of “Covariate=1”</td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("covariate_meaning_1")}}
                                                            </td>
                                                        </tr>
                                                        {%endif%}
                                                        <tr>
                                                            <td>Prior mean of the main effect</td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("main_effect_prior_mean")}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Prior standard deviation of the main effect</td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("main_effect_prior_standard_deviation")}}
                                                            </td>
                                                        </tr>
                                                        {% if all_covariates.get(acov).get("tailoring_variable")=="yes"
                                                        %}
                                                        <tr>
                                                            <td>Prior mean of the interaction coefficient</td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("interaction_coefficient_prior_mean")}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Prior standard deviation of the interaction
                                                                coefficient
                                                            </td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("interaction_coefficient_prior_standard_deviation")}}
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            {%endfor%}
                                            <!--END OF THE COLLAPSABLE MENU-->

                                            <h5>Proximal Outcome Attributes</h5>
                                            <hr>
                                            <div class="form-group">
                                                <label class="form-control-label" for="min_proximal_outcome">The minimum
                                                    value of the proximal outcome</label>
                                                <input disabled type="text" value="{{settings.min_proximal_outcome}}"
                                                       id="min_proximal_outcome" name="min_proximal_outcome"
                                                       class="form-control" placeholder="Option A">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label" for="max_proximal_outcome">The maximum
                                                    value of the proximal outcome</label>
                                                <input disabled type="text" value="{{settings.max_proximal_outcome}}"
                                                       id="max_proximal_outcome" name="max_proximal_outcome"
                                                       class="form-control" placeholder="Option B">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label" for="max_proximal_outcome">Type of the
                                                    proximal outcome</label>
                                                <select disabled id="proximal_outcome_type" name="proximal_outcome_type"
                                                        class="form-control" aria-label="Default select example">
                                                    <option selected>Continuous</option>
                                                </select>
                                            </div>

                                            <h5>Intercept</h5>
                                            <hr>
                                            <div class="form-group">
                                                <label class="form-control-label" for="intercept_prior_mean">Prior mean
                                                    of the intercept</label>
                                                <input disabled type="text" value="{{settings.intercept_prior_mean}}"
                                                       id="intercept_prior_mean" name="intercept_prior_mean"
                                                       class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                       for="intercept_prior_standard_deviation">Prior standard deviation
                                                    of the intercept</label>
                                                <input disabled type="text"
                                                       value="{{settings.intercept_prior_standard_deviation}}"
                                                       id="intercept_prior_standard_deviation"
                                                       name="intercept_prior_standard_deviation" class="form-control"
                                                       required>
                                            </div>

                                            <h5>Main Treatment Effects</h5>
                                            <hr>
                                            <div class="form-group">
                                                <label class="form-control-label" for="treatment_prior_mean">Prior mean
                                                    of the main treatment effect</label>
                                                <input disabled type="text" value="{{settings.treatment_prior_mean}}"
                                                       id="treatment_prior_mean" name="treatment_prior_mean"
                                                       class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                       for="treatment_prior_standard_deviation">Prior standard deviation
                                                    of the main treatment effect</label>
                                                <input disabled type="text"
                                                       value="{{settings.treatment_prior_standard_deviation}}"
                                                       id="treatment_prior_standard_deviation"
                                                       name="treatment_prior_standard_deviation" class="form-control"
                                                       required>
                                            </div>
                                            

                                            <h5>Noise</h5>
                                            <hr>
                                            <div class="form-group">
                                                <label class="form-control-label" for="noise_scale">Scale</label>
                                                <input disabled type="text" value="{{settings.noise_scale}}"
                                                       id="noise_scale" name="noise_scale"
                                                       class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                       for="noise_degree_of_freedom">Degree of freedom</label>
                                                <input disabled type="text"
                                                       value="{{settings.noise_degree_of_freedom}}"
                                                       id="noise_degree_of_freedom"
                                                       name="noise_degree_of_freedom" class="form-control"
                                                       required>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- [ Main Content ] end -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-group">
                                                <a href="/model/settings/main_noise/{{project_uuid}}"
                                                   class="btn btn-outline-primary" role="button">Back</a>
                                                <a
                                                        href="/configuration/summary/{{project_uuid}}"
                                                        class="btn btn-primary" role="button">Go to Configuration
                                                    Summary
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
