{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Model Settings / Covariates / Summary</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <div class="col-sm-12">
                                        <div class="row congratstextbox" style="margin-bottom: 30px;">
                                            <div class="col-2">
                                                <img src="{{ config.ASSETS_ROOT }}/images/pjitai/celebration.png" class="img-responsive">
                                            </div>
                                            <div class="col-10">

                                                <p>
                                                    Congrats! You have finished setting up the parameters associated with “Location.”<br>
                                                    After you confirm, please click on “Back to Covariates.”
                                                </p>
                                            </div>

                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Covariate Name</h5>
                                                <hr>

                                                <div class="form-group">
                                                    <label class="form-control-label" for="covariate_name">Name of the covariate</label>
                                                    <input disabled value="{{settings.covariate_name}}" type="text" id="covariate_name" name="covariate_name" class="form-control" placeholder="covariate name">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="tailoring_variable">Is this covariate a tailoring variable?</label><br>
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <fieldset id="tailoring_variable">
                                                            <label class="btn btn-outline-success">
                                                                <input disabled type="radio" name="tailoring_variable" value="yes" {{ "checked" if settings.tailoring_variable == "yes" }} required> Yes
                                                            </label>
                                                            <label class="btn btn-outline-primary">
                                                                <input disabled type="radio" name="tailoring_variable" value="no" {{ "checked" if settings.tailoring_variable == "no" }} required> No
                                                            </label>
                                                        </fieldset>
                                                    </div>

                                                </div>


                                                <h5>Covariate Attributes</h5>
                                                <hr>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="covariate_min_val">Minimum value of the covariate</label>
                                                    <input disabled value="{{settings.covariate_min_val}}" type="text" name="covariate_min_val" class="form-control" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="covariate_max_val">Maximum value of the covariate</label>
                                                    <input disabled value="{{settings.covariate_max_val}}" type="text" name="covariate_max_val" class="form-control" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="covariate_type">Type of the covariate</label><br>
                                                    <select name="covariate_type" class="form-control" disabled>
                                                        {% for ct in covariates_types%}
                                                        <option value="{{ct}}" {{ "selected" if settings.covariate_type == ct }}>{{ct}}</option>
                                                        {%endfor%}
                                                    </select>
                                                </div>

                                                {% if all_covariates.get(cov_id).get("covariate_type")=="Binary" %}
                                                <div class="form-group">
                                                    <label class="form-control-label" for="covariate_meaning_0">Meaning of the "Covariate=0"</label><br>
                                                    <input disabled value="{{settings.covariate_meaning_0}}" type="text" name="covariate_meaning_0" class="form-control" placeholder="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-control-label" for="covariate_meaning_1">Meaning of the "Covariate=1"</label><br>
                                                    <input disabled value="{{settings.covariate_meaning_1}}" type="text" name="covariate_meaning_1" class="form-control" placeholder="">
                                                </div>
                                                {% endif %}

                                                <h5>Covariate Main Effect</h5>
                                                <hr>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="main_effect_prior_mean">Prior mean of the main effect</label>
                                                    <input disabled value="{{settings.main_effect_prior_mean}}" type="text" name="main_effect_prior_mean" class="form-control" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="main_effect_prior_standard_deviation">Prior standard deviation of the main effect</label><br>
                                                    <input disabled value="{{settings.main_effect_prior_standard_deviation}}"  type="text" name="main_effect_prior_standard_deviation" class="form-control" placeholder="">

                                                </div>
                                                {% if all_covariates.get(cov_id).get("tailoring_variable")=="yes" %}
                                                <h5>Covariate Tailored Effect</h5>
                                                <hr>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="interaction_coefficient_prior_mean">Prior mean of the interaction coefficient</label>
                                                    <input disabled value="{{settings.interaction_coefficient_prior_mean}}" type="text" name="interaction_coefficient_prior_mean" class="form-control" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="interaction_coefficient_prior_standard_deviation">Prior standard deviation of the interaction coefficient</label><br>
                                                    <input disabled value="{{settings.interaction_coefficient_prior_standard_deviation}}" type="text" name="interaction_coefficient_prior_standard_deviation" class="form-control" placeholder="">

                                                </div>
                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    {{formula|safe}}
                                </div>
                            </div>



                            <!-- [ Main Content ] end -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-group">
                                                {% if is_tailoring=="yes" %}
                                                    <a href="/covariates/settings/covariate_tailored_effect/{{project_uuid}}/{{cov_id}}" class="btn btn-outline-primary" role="button">Back</a>
                                                {% else %}
                                                    <a href="/covariates/settings/covariate_main_effect/{{project_uuid}}/{{cov_id}}" class="btn btn-outline-primary" role="button">Back</a>
                                                {% endif %}

                                                <a href="/covariates/settings/all/{{project_uuid}}" class="btn btn-primary" role="button">Back to Covariates</a>
                                            </div>
                                            <div class="form-group">
                                                Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} CST
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
