{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Model Settings / Covariates / Main Effect</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="main_effect_prior_mean">Prior mean of the main effect <span data-toggle='tooltip' data-bs-placement="right" title='???????????????????'> <i class=" align-text-top questionmark far fa-question-circle"></i></span></label>
                                                        <input value="{{settings.main_effect_prior_mean}}" type="number" step="0.01" name="main_effect_prior_mean" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="main_effect_prior_standard_deviation">Prior standard deviation of the main effect <span data-toggle='tooltip' data-bs-placement="right" title='???????????????????'> <i class=" align-text-top questionmark far fa-question-circle"></i></span></label><br>
                                                        <input value="{{settings.main_effect_prior_standard_deviation}}"  type="number" min="0" step="0.01" name="main_effect_prior_standard_deviation" class="form-control" placeholder="">

                                                    </div>

                                                </div>

                                                <div class="col">
                                                    {{formula|safe}}
                                                    <!--<p style="
                                    background-color: #deeaff;
                                    color: black;
                                    padding: 10px;
                                    font-size:18px;
                                    border-radius: 10px;
                                ">

                                                        <span style="background:#f2f2f2; font-size:14px;">{{settings.proximal_outcome_name}}</span> ~ <br>
                                                        α<sub>0</sub> + α<sub>1</sub> * <span id="cov_name_span1" style="background:#f2f2f2; font-size:14px;">{{settings.covariate_name}}</span><br>
                                                        + β<sub>0</sub>* <span style="background:#f2f2f2; font-size:14px;"> {{settings.intervention_component_name}} </span><br>
                                                        <span id="beta_1">+ β<sub>1</sub>* <span id="cov_name_span2" style="background:#f2f2f2; font-size:14px;">{{settings.covariate_name}}</span> * <span style="background:#f2f2f2; font-size:14px;"> {{settings.intervention_component_name}} </span> <br></span>
                                                        + ϵ <br>
                                                        α<sub>1</sub>~N(<span style="color:red;">μ<sub>{α<sub>1</sub>}</sub>, σ<sub>{α<sub>1</sub>}<sup>2</sup></sub></span>) <br>
                                                        <span style="color:red;"> We're asking for the red values.</span>


                                                    </p>-->
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home" aria-selected="true">
                                                Explanation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile" aria-selected="false">HeartSteps
                                                Example</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <p>We are asking about the main effect of the covariate in the Bayesian linear regression. This coefficient corresponds to the amount of change in the proximal outcome per unit change of the covariate when intervention option B is provided (i.e., “do nothing” in the HeartSteps example) and all the other covariates are fixed.</p>

                                            <p>Many papers may not provide the prior mean and the prior standard deviation of the main effect of the covariate.</p>

                                            <p>If you don’t have good information about the prior mean and prior standard deviation, then we suggest you set the prior mean to be 0 and the prior standard deviation to be 10.  Please read [tutorial] for more details.</p>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <p class="mb-0">This information is not reported in the HeartSteps V1 paper. Thus, we demonstrate using the default values here, i.e., prior mean = 0 and prior standard deviation = 10.</p>
                                        </div>

                                    </div>
                                </div>


                                <!-- [ tabs ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-group">
                                                <a href="/covariates/settings/covariate_attributes/{{project_uuid}}/{{cov_id}}" class="btn btn-outline-primary" role="button">Back</a>
                                                {% if is_tailoring=="yes" %}
                                                    <button type="submit" type="button" formaction="/covariates/settings/covariate_tailored_effect/{{project_uuid}}/{{cov_id}}" formmethod="post" class="btn btn-primary">Next</button>
                                                {% else %}
                                                    <button type="submit" type="button" formaction="/covariates/settings/covariate_summary/{{project_uuid}}/{{cov_id}}" formmethod="post" class="btn btn-primary">Next</button>
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} CST
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
