{% extends "layouts/base.html" %}

{% block title %} Covariates {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<script>
$(document).ready(function() {
  $('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    //console.log($(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href')));
  });
});

</script>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header btn-danger">
                Delete!
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="/covariates/settings/delete/{{project_uuid}}/{{cov_id}}"
                   class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Model Settings / Covariates</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-5">
                                                    <b>Name of the covariate</b>
                                                </div>
                                                <div class="col-2">
                                                    <b>Is this covariate a tailoring variable?</b>
                                                </div>
                                                <div class="col-22">

                                                </div>
                                                <div class="col-1">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion" id="accordionExample">
                                            {% if all_covariates|length==0%}
                                            <div class="alert alert-primary" role="alert">
                                                There is no covariate variable. Please click on "Add another covariate"
                                                to add.
                                            </div>

                                            {%endif%}
                                            <!--START OF THE COLLAPSABLE MENU-->
                                            {% for acov in all_covariates|reverse %}


                                            <div class="card">
                                                <div class="card-header" id="headingOne">

                                                    <div class="row">
                                                        <div class="col-5">
                                                            <h5>
                                                                <a href="#!" data-toggle="collapse"
                                                                   data-target="#collapseOne" aria-expanded="true"
                                                                   aria-controls="collapseOne">
                                                                    {{all_covariates.get(acov).get("covariate_name")}}
                                                                </a>
                                                            </h5>
                                                        </div>
                                                        <div class="col-2">
                                                            {{all_covariates.get(acov).get("tailoring_variable")}}
                                                        </div>
                                                        <div class="col-2">
                                                            <a href="/covariates/settings/covariate_name/{{project_uuid}}/{{acov}}"
                                                               class="btn-primary btn-sm"><i class="fas fa-edit"></i>
                                                                Edit</a>
                                                        </div>
                                                        <div class="col-2">
                                                            <a href="/covariates/settings/delete/{{project_uuid}}/{{acov}}"
                                                               class="btn-danger btn-sm" role="button"
                                                               onclick="return confirm('Are you sure you want to delete covariate?');"><i
                                                                    class="far fa-trash-alt"></i> Delete</a>
                                                        </div>
                                                        <div class="col-1">
                                                            <a href="#!" class="btn-info btn-sm" data-toggle="collapse"
                                                               data-target="#collapse_{{acov}}" aria-expanded="true"
                                                               aria-controls="collapse_{{acov}}">
                                                                <i class="fas fa-book-open"></i> View
                                                            </a>

                                                        </div>
                                                    </div>


                                                </div>
                                                <div id="collapse_{{acov}}" class=" card-body collapse"
                                                     aria-labelledby="headingOne" data-parent="#accordionExample">
                                                    <table class="table table-hover">
                                                        <tbody>
                                                        <tr>
                                                            <td>The minimum value of the covariate</td>
                                                            <td>{{all_covariates.get(acov).get("covariate_min_val")}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>The maximum value of the covariate</td>
                                                            <td>{{all_covariates.get(acov).get("covariate_max_val")}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Type of the covariate</td>
                                                            <td>{{all_covariates.get(acov).get("covariate_type")}}</td>
                                                        </tr>
                                                        {% if all_covariates.get(acov).get("covariate_type")=="Binary"
                                                        %}
                                                        <tr>
                                                            <td>Meaning of “Covariate=0”</td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("covariate_meaning_0")}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Meaning of “Covariate=1”</td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("covariate_meaning_1")}}
                                                            </td>
                                                        </tr>
                                                        {%endif%}
                                                        <tr>
                                                            <td>Prior mean of the main effect</td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("main_effect_prior_mean")}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Prior standard deviation of the main effect</td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("main_effect_prior_standard_deviation")}}
                                                            </td>
                                                        </tr>
                                                        {% if all_covariates.get(acov).get("tailoring_variable")=="yes"
                                                        %}
                                                        <tr>
                                                            <td>Prior mean of the interaction coefficient</td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("interaction_coefficient_prior_mean")}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Prior standard deviation of the interaction
                                                                coefficient
                                                            </td>
                                                            <td>
                                                                {{all_covariates.get(acov).get("interaction_coefficient_prior_standard_deviation")}}
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            {%endfor%}
                                            <!--END OF THE COLLAPSABLE MENU-->

                                        </div>

                                        <a href="/covariates/settings/covariate_name/{{project_uuid}}/{{new_uuid}}"><p
                                                style="border: 1px dotted green; padding:5px;font-size: 20px;margin-top: 60px;text-align: center;color: green;cursor: pointer;">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add another covariate
                                        </p></a>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home" aria-selected="true">
                                                Explanation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile" aria-selected="false">HeartSteps
                                                Example</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <p>Please use “Add another covariate” to add a covariate that is likely to
                                                be correlated with (predictive of) the proximal outcome.</p>

                                            <p>Each covariate is associated with a set of parameters that are needed to
                                                configure a pJITAI, including whether a covariate is a tailoring
                                                variable (i.e., likely to interact with the intervention). Please click
                                                “Edit” to fill these parameters out. Once you fill them out, the summary
                                                of these parameters can be found by clicking the arrow next to the
                                                trashcan.</p>

                                            <p>If you want to remove a covariate, please click the trashcan.</p>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <p>In HeartSteps, both the location of the individual and 30-minute step
                                                count just prior to an intervention were found to be correlated with the
                                                proximal outcome of (log) Next 30 minute step count.
                                            </p>
                                        </div>

                                    </div>
                                </div>


                                <!-- [ tabs ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-group">
                                                <a href="/model/settings/proximal_outcome_attribute/{{project_uuid}}"
                                                   class="btn btn-outline-primary" role="button">Back</a>
                                                <button type="submit" type="button"
                                                        formaction="/model/settings/intercept/{{project_uuid}}"
                                                        formmethod="post" class="btn btn-primary">Next
                                                </button>
                                            </div>
                                            <div class="form-group">
                                                Last save time: {{modified_on.strftime('%b %d %Y %I:%M %p')}} CST
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
