{% extends 'layouts/base.html' %}

{% block title %} Add/Edit an RL Algorithm Settings {% endblock title %}

{% block content %}

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">
      <div class="modal-header btn-info">
        <h6 class="modal-title" id="modal-title-default"><strong style="color:white;">More Information</strong></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
// show description model dynamically
      $(function(){
      $('body').on("click", ".infoModal1", function(e){
        e.preventDefault();
        var mymodal = $('#infoModal');
        var info = $(this).attr('title');
        //console.log(info);

        try{
          info = JSON.parse(info);
        }catch(err){
          //console.log(err);
        }
        html = '';
        if( info.constructor.name=="Object"){
        $.each( info, function( key, val ){
          html += '<strong>'+key+': </strong>'+val+'<br>'
        });
          mymodal.find('.modal-body').html(html);
        }else{
          mymodal.find('.modal-body').html(info);
         }

        mymodal.modal('show');
      });
    })

    // ---------------------------------

  var field_id = 0;
  function add_form_fields(val) {
    field_id++;
    var divtest = document.createElement("div");
	divtest.setAttribute("class", "form-group feature_");

	var objTo = document.getElementById('feature_vector_div')
	  var rdiv = 'feature_';
      divtest.innerHTML =`
     <div class="card-body" name="feature_div_`+field_id+`" id="feature_div_`+field_id+`">
        <div class="row" name="add_feature_div">
          <div class="col-md-12">
            <div class="row">

              <div class="col-12 col-md-8">
                <div class="form-group">
                  <label class="form-control-label" for="name__`+field_id+`">Feature Name</label>
                  <input type="text" class="form-control" name="feature_name__`+field_id+`" placeholder="Feature Name" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <table class="table align-items-center table-flush table-striped">
                <tbody>
                <tr>
                <td><strong>Data Type </strong> <i class="fa fa-question-circle infoModal1" data-toggle="modal" data-target="#infoModal" aria-hidden="true" title="Data type of the value."></i></td>
                <td><strong>Is list?</strong> <i class="fa fa-question-circle infoModal1" data-toggle="modal" data-target="#infoModal" aria-hidden="true" title="Select this if the values are in a list/array."></i></td>
                <td><strong>Lower Bound</strong> <i class="fa fa-question-circle infoModal1" data-toggle="modal" data-target="#infoModal" aria-hidden="true" title="Lower bound value."></i></td>
                <td><strong>Is Inclusive?</strong> <i class="fa fa-question-circle infoModal1" data-toggle="modal" data-target="#infoModal" aria-hidden="true" title="Is lower bound inclusive?"></i></td>
                <td>&nbsp;</td>
                <td><strong>Upper Bound</strong> <i class="fa fa-question-circle infoModal1" data-toggle="modal" data-target="#infoModal" aria-hidden="true" title="Upper bound value."></i></td>
                <td><strong>Is Inclusive</strong> <i class="fa fa-question-circle infoModal1" data-toggle="modal" data-target="#infoModal" aria-hidden="true" title="Is upper bound inclusive?"></i></td>
                </tr>
                <tr>
                <td>SELECT
                <select name="feature_data_type__`+field_id+`" id="feature_data_type__`+field_id+`">
                  <option value="str">String</option>
                  <option value="float" selected>Float</option>
                  <option value="int">Integer</option>
                  <option value="boolean">Boolean</option>
                </select>
                </td>
                <td><input checked="checked" name="feature_is_data_type_list__`+field_id+`" type="checkbox" value="1" /></td>
                <td><input value="-inf" list="lower_bound_vals__`+field_id+`" name="feature_lower_bound__`+field_id+`" id="feature_lower_bound__`+field_id+`" type="text" required />
                <datalist id="lower_bound_vals__`+field_id+`">
                <option value="-inf"></option>
                <option value="0"></option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                </datalist>
                </td>
                <td><input checked="checked" name="feature_lower_inclusive__`+field_id+`" type="checkbox" value="1" /></td>
                <td>&nbsp;</td>
                <td>
                <label for="upper_bound"><strong>Upper Bound:</strong></label>
                <input value="+inf" list="upper_bound_vals__`+field_id+`" name="feature_upper_bound__`+field_id+`" id="feature_upper_bound__`+field_id+`" type="text" />
                <datalist id="upper_bound_vals__`+field_id+`">
                <option value="+inf" seleted></option>
                </datalist>
                </td>
                <td><input checked="checked" name="feature_upper_inclusive__`+field_id+`" type="checkbox" value="1" /></td>
                </tr>
                </tbody>
                </table>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="feature description">Feature Description</label>
              <input type="text" class="form-control" name="feature_description__`+field_id+`" placeholder="Feature Description">
            </div>

          </div>

          {% set algo = algorithm_definition.parameters %}
          {% for key,value in algo.items() %}
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-control-label" for="parameter {{key}}__`+field_id+`">{{key}}</label> <i class="fa fa-question-circle infoModal1" data-toggle="modal" data-target="#infoModal" aria-hidden="true" title='{{value|tojson}}'></i>
              <input type="text" class="form-control" name="feature_parameter_{{key}}__`+field_id+`" value="{{value.default_value}}" placeholder="Param Value">
            </div>
          </div>
          {%endfor%}

        </div>
        <div class="input-group-btn text-right"> <button class="btn btn-danger" type="button" onclick="remove_form_fields(`+ field_id +`);"> Delete Feature </button> </div>
        <hr>
      </div>


`;


    objTo.appendChild(divtest)
}

function remove_form_fields(rid) {
    $('#feature_div_'+rid).remove();
   }
</script>



  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Algorithm</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Form</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
<div class="container-fluid mt--6">
  <form role="form" method="post" action="/add_update_algo/">
  <div class="card mb-4">
    <!-- Card header -->
    <div class="card-header">
      <h3 class="mb-0">Basic Algorithm Information</h3>
    </div>
    <script>
      function selectAlgorithm(el) {
        var algos = JSON.parse(el.value);
        console.log(typeof algos);
        var description = document.getElementById("description");
            description.value = algos.description;
            //other_parameters_div

        var other_parameters_div = document.getElementById("other_parameters_div");
        var op;
        console.log(algos.configuration.other_parameters);
        for (let i=0; i< algos.configuration.other_parameters.length; i++){
          var other_parameters_div_inner = document.createElement('div');
           other_parameters_div_inner.className = "col-md-2";
          op = algos.configuration.other_parameters[i];
          other_parameters_div_inner.innerHTML = '<label class="form-control-label" for="other_parameters" title="what is this">'+op.name+'</label> \
          <input type="text" class="form-control" name="other_parameters[]" value="'+op.default_value+'">';
          other_parameters_div.appendChild(other_parameters_div_inner)
        }
        console.log(algos.configuration.availability)
        if(algos.configuration.availability.value!="1"){
          document.getElementById('availability').value = algos.configuration.availability.value;
        }else{
          document.getElementById('availablity_div').remove();
        }

      }
    </script>
    <!-- Card body -->
    <div class="card-body">
      <!-- Form groups used in grid -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <h4>Algorithm Type </h4>{{ algorithm_definition.name }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <h4>Algorithm Name </h4>
            <input type="text" class="form-control" name="algorithm_name" id="algorithm_name" placeholder="Algorithm Name" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <h4 >Description</h4>
            <textarea class="form-control" name="description" id="description" rows="3" placeholder="Algorithm Description">{{algorithm_definition.description}}</textarea>
          </div>
        </div>
      </div>
    </div>

  </div>

    <div class="card">

      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <!-- Title -->
            <h5 class="h3 mb-0">Features Vector</h5>
          </div>
          <div class="col-4 text-right">
            <button class="btn btn-success" type="button"  onclick="add_form_fields('parameters');"> Add a New Feature </button>
          </div>
        </div>
      </div>

      <!--START OF FEATURE BLOCK-->
      <div id="feature_vector_div">

      </div>
      <!--END OF FEATURE BLOCK-->
    </div>

  <div class="card">
    <div class="card-header">
      <h3 class="mb-0">Standalone Parameters</h3>
    </div>
    <div class="card-body">
      <div class="row" id="standalone_parameters">

          <!--FIELDS WILL BE HERE-->
        {% for key,value in algorithm_definition.standalone_parameters.items() %}
        <div class="col-md-2">
          <div class="form-group">
            <label class="form-control-label" for="standalone_parameter__{{key}}">{{key}} <i class="fa fa-question-circle infoModal1" data-toggle="modal" data-target="#infoModal" aria-hidden="true" title='{{value|tojson}}'></i></label>
            <input type="text" class="form-control" name="standalone_parameter__{{key}}" id="standalone_parameter__{{key}}" value="{{value.default_value}}" placeholder="Param Value">
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">Other Parameters</h3>
      </div>
      <div class="card-body">
        <div class="row" id="other_parameters_div">

          <!--FIELDS WILL BE HERE-->
          {% for key,value in algorithm_definition.other_parameters.items() %}
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-control-label" for="other_parameter__{{key}}">{{key}} <i class="fa fa-question-circle infoModal1" data-toggle="modal" data-target="#infoModal" aria-hidden="true" title='{{value|tojson}}'></i></label>
              <input type="text" class="form-control" name="other_parameter__{{key}}" id="other_parameter__{{key}}" value="{{value.default_value}}" placeholder="Param Value">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>



  {% if algorithm_definition.get("availability") %}
  <div class="card" id="availablity_div">
    <div class="card-header">
      <h3 class="mb-0">Data Availability</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="form-control-label" for="availability" title="what is this">Availability</label> <i class="fa fa-question-circle infoModal1" data-toggle="modal" data-target="#infoModal" aria-hidden="true" title='{{algorithm_definition.availability|tojson}}'></i>
            <select class="form-control" name="availability" id="availability">
              <option selected>1</option>
              <option>0</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endif %}
  <div class="col-md-12">
    <button class="btn btn-primary" name="add_update_algo" type="submit">Submit form</button>
  </div>
  </form>
</div>




    {% include "includes/footer.html" %}


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
