{% extends 'layouts/base.html' %}

{% block title %} Add/Edit an RL Algorithm Settings {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Algorithm</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Form</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
<div class="container-fluid mt--6">
  <form role="form" method="post" action="/add_update_algo/">
  <div class="card mb-4">
    <!-- Card header -->
    <div class="card-header">
      <h3 class="mb-0">Basic Algorithm Information</h3>
    </div>
    <!-- Card body -->
    <div class="card-body">
      <!-- Form groups used in grid -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="algorithm_name" title="what is this">Algorithm Name</label>
            <input type="text" class="form-control" name="algorithm_name" value="{{ prebuilt_algorithms.algorithm_name }}" placeholder="Algorithm Name">
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-control-label" for="algorithm_description" >Description</label>
            <textarea class="form-control" name="algorithm_description" rows="3" placeholder="Algorithm Description">{{ prebuilt_algorithms.algorithm_description }}</textarea>
          </div>
        </div>

        {% for feature in prebuilt_algorithms.algorithm.feature_vector.get("features") %}
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-control-label" for="feature_name" title="what is this">Feature Name</label>
            <i class="fa fa-question-circle" title="{{feature.description}}"></i>
            <input type="text" class="form-control" name="feature_name" value="{{ feature.name }}" placeholder="Feature Name">
          </div>
        </div>

        {% if feature.get("options") %}
        <div class="col-md-2">
          <div class="form-group">
            <label class="form-control-label" for="feature_options" title="what is this">Options</label>
        <select class="form-control" name="feature_options">
          {% for opt in feature.get("options") %}
          <option>{{ opt.name }}</option>
          {% endfor %}
        </select>
        </div>
        </div>
        {% endif%}
          {% for k,v in feature.parameters.items() %}

            <div class="col-md-2">
              <div class="form-group">
                <label class="form-control-label" for="parameter {{feature.name}} {{k}}">{{k}}</label>
                <input type="text" class="form-control" name="parameter {{feature.name}} {{k}}" value="{{ v }}" placeholder="Param Value">
              </div>
            </div>

          {% endfor %}
        {% endfor %}
        <div class="col-md-12">
          <hr>
        </div>


      </div>
    </div>


  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="mb-0">Other Parameters</h3>
    </div>
    <div class="card-body">
      <div class="row">
      {% for k in prebuilt_algorithms.algorithm.other_parameters %}
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-control-label" for="other_parameters[]" title="what is this">{{k.name}}</label>
          <input type="text" class="form-control" name="other_parameters[]" value="{{ k.default_value }}" placeholder="Param Value">
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="mb-0">Data Availability</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="form-control-label" for="data_availability" title="what is this">{{prebuilt_algorithms.algorithm.availability.name}}</label>
            <input type="text" class="form-control" name="data_availability" value="{{ prebuilt_algorithms.algorithm.availability.value }}" placeholder="Feature Name">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-primary" name="add_update_algo" type="submit">Submit form</button>
  </div>
  </form>
</div>




    {% include "includes/footer.html" %}


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
