{% extends 'layouts/base.html' %}

{% block title %} Add/Edit an RL Algorithm Settings {% endblock title %}

{% block content %}

{% set current_url= url_for(request.endpoint) | replace("/","") %}

<script>
$(document).ready(function() {
  $('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    console.log($(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href')));
  });
});
</script>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-danger">
        Delete!
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Algorithm</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="{{ url_for('home_blueprint.index') }}"><i class="fas fa-home"></i></a></li>

                <li class="breadcrumb-item active" aria-current="page">Mine</li>
              </ol>
            </nav>
          </div>
          <!--<div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>-->
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
<div class="container-fluid mt--6">




  <div class="card mb-4">
    <!-- Card header -->
    <div class="card-header border-0">
      <div class="row">
        <div class="col-6">
          <h3 class="mb-0">My Algorithms</h3>
        </div>

      </div>
    </div>

    <!-- Card body -->
    <div class="card-body">
      <!-- Form groups used in grid -->
      <div class="row">
        <div class="table-responsive">
          
          <div class="accordion" id="accordionExample">

            {% for a in user_algorithms %}
            {% set algo_details = a.as_dict() %}
            {% set country = 1 %}
            <div class="card">
              <div class="card-header" id="heading{{loop.index}}" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">

                <div class="row">
                  <div class="col">
                    <h5 class="mb-0">{{ algo_details.name }} </h5>
                  </div>
                  <div class="col">
                    <a href="{{ url_for('algorithm_blueprint.edit_algorithm',algorithm_id=algo_details.id) }}" class="btn btn-warning btn-sm" role="button"><i class="icon-item fas fa-file-signature mdb-gallery-view-icon"></i> Edit</a>
                  </div>
                  <div class="col">
                    <a href="#" data-href="{{ url_for('algorithm_blueprint.delete_algorithm',algorithm_id=algo_details.id) }}" class="btn btn-danger btn-sm" role="button" data-toggle="modal" data-target="#confirm-delete"><i class="ni ni-fat-remove"></i> Delete</a>
                  </div>
                  <div class="col">
                    <a href="{{ url_for('algorithm_blueprint.finalize_algorithm',id=algo_details.id) }}" class="btn btn-success btn-sm" role="button"><i class="icon-item fas fa-check mdb-gallery-view-icon"></i> Finalize</a>
                  </div>
                </div>
              </div>
              <div id="collapse{{loop.index}}" class="collapse" aria-labelledby="heading{{loop.index}}" data-parent="#accordionExample">
                <div class="card-body">
                  <table   class="table align-items-center table-flush table-striped">
                    <tbody>
                    <tr>
                      <td><strong>Algorithm Name</strong>: {{algo_details.name}}</td>
                    </tr>
                    <tr>
                      <td><strong>Description</strong> {{ algo_details.description }}</td>
                    </tr>
                    <tr>
                      <td>
                        <h2>Features</h2>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {% for p_k, p_v in algo_details.get("configuration").get("features").items() %}
                        <strong>ID: {{p_k}}</strong><br>
                          {% for k,v in p_v.items() %}
                            <strong>{{k | replace("feature_","") | replace("parameter_","")}}</strong> - {{ v }}<br>
                          {% endfor %}
                        <hr>
                        {% endfor %}
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <h2>Standalone Parameters</h2>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {% for p_k, p_v in algo_details.get("configuration").get("standalone_parameters").items() %}
                        <strong>{{p_k}}</strong> - {{ p_v }}<br>
                        {% endfor %}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h2>Other Parameters</h2>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {% for p_k, p_v in algo_details.get("configuration").get("other_parameters").items() %}
                        <strong>{{p_k}}</strong> - {{ p_v }}<br>
                        {% endfor %}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h2>Tuning Scheduler</h2>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {% for p_k, p_v in algo_details.get("configuration").get("tuning_scheduler").items() %}
                        <strong>{{p_k}}</strong> - {{ p_v }}<br>
                        {% endfor %}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>


    </div>
  </div>





</div>

    {% include "includes/footer.html" %}


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
